body{

    background-color:#EBB11A;
    
}

div:hover{
    background-color: aliceblue;
    
    
}
h1{
text-align: center;
    font-size: 50px;
    font-family:fantasy;
}

p{

    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

a{
    outline: none;
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
}

a:link, a:visited, a:focus {
    background: whitesmoke;
  }
  
  a:hover {
    background: #D08D25;
  }
  
  a:active {
    background:#81FF8D;
    color: white;
  }